footer {
  height: 60px;
  width: 100vw;
  display: flex;

  #github {
    margin: auto;
    padding: 2px 5px;
    color: #000;
    background-color: $secondary-color;
    &:hover {
      color: $brand-color;
    }
  }
}
