header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1;

  #logo {
    padding-left: 5px;
    margin: auto;
    @include respond-to('small') {
      font-size: 5.2vw;
    }
  }

  #logo:hover {
    animation-name: grow;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  nav {
    display: flex;
    @include grid-column(9);
    margin: auto;
    justify-content: flex-end;

    a {
      padding: 2px 0 0 30px;
      .link-text {
        font-size: .8em;
        border-top: 1px solid $secondary-color;
        @include respond-to('small') {
          font-size: 2vw;
        }
      }
    }
  }

  @include respond-to('small') {
    height: 90px;
  }
}

@keyframes grow {
  50% {
    transform: scale(1.5);
  }
}
