

html {
  box-sizing: border-box;
  @extend %responsive-wireframe;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NeueHaasGroteskText Pro';
  background-color: $secondary-color;
}

header, footer {
  background-color: $brand-color;
}

a:hover {
  color: $tertiary-color;
}

a {
  text-decoration: none;
  color: black;
}
