

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NeueHaasGroteskText Pro';
  background-color: #000;
  padding-top: 60px;
  @include respond-to('small') {
    padding-top: 90px;
  }
}

header{
  background-color: $brand-color;
}

a:hover {
  color: #000;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
